<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "tweets/base.html" %}
</head>
<body>
{% block content %}

  <input type="button" onclick="history.back();" value="Back"/>

  <p>{{ post.title }}</p>
  <p>Comments:</p>

  <ul>
      {% for com in comments %}
        <li>
            <p>{{ com.date_added|date:'M d, Y H:i' }}</p>
            <p>{{ com.text|linebreaks }}</p>
        </li>
      {% empty %}
        <li>No comments yet</li>
      {% endfor %}
  </ul>

{% endblock content %}
</body>
</html>