<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "tweets/base.html" %}
</head>
<body>

{% block page_header %}
  <h3>{{ post.title }}</h3>
  <h5>Comments:</h5>
  <a class="btn btn-lg btn-primary" href="{% url 'tweets:new_com' post.id %}" role="button">Add a comment</a>
{% endblock page_header %}

{% block content %}
  <p>
      <a href="{% url 'tweets:posts' %}">Back to posts</a>
  </p>
      {% for com in comments %}
        <div class="card mb-3">
          <h4 class="card-header">
              <small>{{ com.date_added|date:'M d, Y H:i' }}</small></h4>
          <div class="card-body">
            {{ com.text|linebreaks }}
          </div>
        </div>
      {% empty %}
        <p>No comments yet</p>
      {% endfor %}

{% endblock content %}
</body>
</html>