<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "tweets/base.html" %}
</head>
<body>

{% block page_header %}
  <h1>Posts:</h1>
  <a class="btn btn-lg btn-primary" href="{% url 'tweets:new_post' %}" role="button">New post</a>
{% endblock page_header %}

{% block content %}

      {% for post in posts %}
        <div class="card mb-3">
          <h4 class="card-header">
            {{ post.title }}
            <small>{{ post.date_added|date:'M d, Y H:i' }}</small> -
            {{ post.owner }}
          </h4>
          <div class="card-body">
            {{ post.text|linebreaks }}
            <small><a href="{% url 'tweets:blog_com' post.id %}">See comments</a></small>
          </div>
        </div>
      {% empty %}
        <p>No posts added yet</p>
      {% endfor %}

{% endblock content %}
</body>
</html>